:root {
    --darker-gray-blue: hsl(217, 19%, 35%);
    --desat-dark-blue: hsl(214, 17%, 51%);
    --gray-blue: hsl(212, 23%, 69%);
    --light-gray-blue: hsl(210, 46%, 95%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: var(--light-gray-blue);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

main {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
    margin: 2rem auto;
}

.card {
    background-color: white;
    border-radius: .5rem;
}

main section {
    width: 90%;
    margin: auto;
}

.img-section {
    width: 100%;
    margin: auto;
}

.img-section img {
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.description {
    position: relative;
    background-color: white;
    padding: 2rem 2rem 1rem 2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.description__text h3 {
    color: var(--darker-gray-blue);
    margin-bottom: 1rem;
}

.description__text p {
    color: var(--desat-dark-blue);
    margin-bottom: 1rem;
}

.description__share {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__share--active {
    background-color:  hsl(217, 19%, 35%);
    margin: 0 -2rem -1rem -2rem;
    padding: 0 2rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    animation: mobile-popup .65s ease;
}


/* Sharing Options popup */
.description__share .share-options {
    display: none;
    background-color: var(--darker-gray-blue);
    color: var(--gray-blue);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

.description__share .share-options p {
    letter-spacing: 5px;
    padding-left: 1rem;
}

.description__share .share-options span {
    display: flex;
    justify-content: space-around;
}

.description__share .mobile-share {
    position: relative;
    display: grid;
    background-color: var(--darker-gray-blue);
    color: var(--gray-blue);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    animation: mobile-popup 1s ease;

}

@keyframes mobile-popup {
    0% {
        left: -100%;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        left: 0%;
    }
}


.description__share .mobile-share p {
    letter-spacing: 5px;
    padding-left: 1rem;
}

.description__share .mobile-share span {
    display: flex;
    justify-content: space-around;
}



/* To be added with JavaScript */
.description__share .desktop-share,
.description__share .reverse  {
    display: grid;
    position: absolute;
    width: 15rem;
    background-color: var(--darker-gray-blue);
    color: var(--gray-blue);
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    bottom: 35%;
    right: -13%;
    animation: desktop-popup 1s ease-in-out;
}

.description__share .reverse {
    display: grid;
    animation: desktop-popup 1s ease-in-out reverse forwards;
}

@keyframes desktop-popup {
    0% {
        right: -25%;
        bottom: 40%;
        opacity: 0;
        display: none;
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg)
    }
}

.description__share .desktop-share::after,
.description__share .reverse::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    bottom: -.9rem;
    left: 50%;
    border-top: 15px solid var(--darker-gray-blue);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.description__share .desktop-share span,
.description__share .reverse span {
    display: flex;
    justify-content: space-around;
}

.description__share .desktop-share p,
.description__share .reverse p {
    letter-spacing: 5px;
    display: flex;
    justify-content: space-around;
}

/* Client Info and Share Button */
.client-info {
    position: relative;
    display: flex;
    align-items: center;
}

@keyframes return {
    0% {
        opacity: 0;
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

.client-info p {
    color: var(--gray-blue);
    font-size: .7rem;
}

.client-info p span {
    color: var(--darker-gray-blue);
    font-weight: 700;
    margin-bottom: .5rem;
}

.client-info img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.share-btn {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--light-gray-blue);
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.attribution {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.attribution a {
    text-decoration: none;
    color: var(--darker-gray-blue);
    font-weight: 700;
} 

@media screen and (min-width: 1000px) {
    main {
        width: min(100%, 90rem);
    }

    .card {
        width: min(75%, 50rem);
        display: grid;
        grid-template-areas: 
        "image description";
        border-radius: .5rem;
    }

    .img-section img {
        border-top-left-radius: .5rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: .5rem;
    }

    .description {
        border-radius: .5rem;
        padding-top: 2rem;
        display: grid;
        align-items: center;
    }
}
